/* song-details.page.scss */
ion-card {
    margin-top: 20px;
    border-radius: 10px;
  }
  
  ion-button {
    margin-top: 10px;
  }
  ion-content{
  display: flex; 
  justify-content: 
  center; align-items: 
  center; height: 100%;
  }
  ion-card{
    width: 80%; 
    max-width: 400px;
  }